
<ion-header>

  <ion-navbar>
    <ion-title>Place</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<!-- this creates a google map on the page with the given lat/lng from -->
	<!-- the component as the initial center of the map: -->
	<agm-map [latitude]="lat" [longitude]="lng">
	  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
	</agm-map>
	<button ion-button block (click)="onDismiss()">Dismiss</button>
</ion-content>
