
<ion-header>

  <ion-navbar>
    <ion-title>Add place</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<form (ngSubmit)="onAddPlace(f.value)" #f="ngForm">
		<ion-item>
			<ion-label>Title</ion-label>
			<ion-input type="text" name="title" ngModel required></ion-input>
		</ion-item>
		<button ion-button block type="submit" [disabled]="!f.valid">Add place</button>
	</form>
	<ion-grid>
		<ion-row>
			<ion-col>
				<button ion-button block (click)="onLocateUser()">Locate me</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
