<ion-header>
  <ion-navbar>
  	<ion-buttons end> 
  		<button ion-button icon-only (click)="onLoadNewPlace()">
			<ion-icon name="add"></ion-icon>
  		</button>
  	</ion-buttons>
    <ion-title>
      Awesome places
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item 
      *ngFor="let plece of places" 
      (click)="onOpenPlace(plece)">{{ plece.title }}</ion-item>
	</ion-list>
</ion-content>
